<div
  class="card border border-primary border-3 m-4 col-3"
  style="width: 18rem"
  [class]="prioritycheck()"
>
  <h5 [innerText]="task.title" class="card-header">Featured</h5>
  <div class="card-body">
    <h5 [innerText]="task.date" class="card-title">
      Special title treatment(<span [innerText]="task.state"></span>)
    </h5>
    <p [innerText]="task.description" class="card-text">
      With supporting text below as a natural lead-in to additional content.
    </p>
    <button (click)="changed(done)" [hidden]="!task.state" #done class="btn btn-success me-2">
      Done
    </button>
    <!--  add the done as number enum 😡😡😡 -->
    <button (click)="modal.showModal()" [hidden]="!task.state" #update class="btn btn-primary me-2">
      Update
    </button>
    <button (click)="changed(delete)" #delete class="btn btn-danger me-2">Delete</button>
  </div>
</div>
<dialog #modal class="w-50">
  <div class="modal-content">
    <div class="w-100 d-flex flex-column justify-content-end">
      <button class="btn align-self-end" (click)="modal.close()">
        <i class="bi bi-x-lg text-black"></i>
      </button>
      <app-form
        [tasksend]="task"
        [update]="true"
        (updateTask)="updated($event); modal.close()"
      ></app-form>
    </div>
  </div>
</dialog>
