<!-- <form>
    <label>Task Title</label><input type="text" name="title">
    <label>Description</label>
    <textarea>

    </textarea>
    <label>Priority</label><select>
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
    </select>
    <label>Due Date</label>
    <input type="date">
    <label>category</label><select>
        <option value="work">Work</option>
        <option value="personal">Personal</option>
        <option value="study">Study</option>
    </select>
    <label>tags</label>
    <textarea>

    </textarea>
</form> -->
<style>
    textarea {
        resize: none;
    }
</style>
<div class="container">
    <div class="mb-3">
        <label for="title" class="form-label">TaskTitle</label>
        <input [(ngModel)]="task.title" type="text" class="form-control" id="title" placeholder="title...">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea  [(ngModel)]="task.description" class="form-control" id="description" rows="3"></textarea>
    </div>
    <select  [(ngModel)]="task.priority" class="form-select" aria-label="Default select example">
        <option [ngValue]="Priority.NA" selected>Priority</option>
        <option [ngValue]="Priority.Low">Low</option>
        <option [ngValue]="Priority.Medium">Medium</option>
        <option [ngValue]="Priority.High">High</option>
    </select>
    <input  [(ngModel)]="task.date" type="date" class="form-control mb-2">
    <select  [(ngModel)]="task.category"  class="form-select" aria-label="Default select example">
        <option value="" selected>Category</option>
        <option value="work">Work</option>
        <option value="personal">Personal</option>
        <option value="study">Study</option>
    </select>
    <div class="mb-3">
        <label for="tag" class="form-label">Tag</label>
        <textarea  [(ngModel)]="task.tags" class="form-control" id="tag" rows="2"></textarea>
    </div>
    <button (click)="register()" class="btn btn-primary" [innerText]="update? 'Update': 'Register'"></button>
</div>