img,
.container,
.btns {
    margin: 0;
    padding: 0;
    width: 40vw;
    height: 50vh;
}

.btns {
    top: 0;
    left: 0;
    position: absolute;
    display: inline-flex;
    justify-content: space-between;

}

#prev {
    position: absolute;

    top: 45%;
    left: 2%;
}

#next {
    position: absolute;

    top: 45%;
    right: 2%;
}

.container button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 30px;
}


.container {
    position: relative;
    margin: 2em;
}

.lights span {
    border: gray 2px solid;
    margin-left: 10px;
}

.lights button {
    transform: rotate(90deg);
}

.lights {
    position: absolute;
    top: 90%;
    left: 45%;
    display: inline-flex;
    align-content: flex-end;
    justify-content: center;
    box-shadow: white;
}